.form {
  display: flex;
  flex-direction: column;
}
.label {
  composes: form;
  margin: 0 30px 20px 30px;
}
.input {
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.button {
  composes: input;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  background-color: yellow;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  transform: scale(1.2);
}
